/* Variables */
:root {
  --basic-black: #000000;
  --basic-extra-black: #333333;
  --basic-light-black: rgba(0, 0, 0, 0.3);

  --basic-gray: #EEEEEE;
  --basic-light-gray: #F2F2F2;
  --basic-dark-gray: #A9A9A9;

  --basic-extra-gray: #E5E5E5;
  --basic-extra-dark-gray: #666666;


  --basic-brown: #766357;
  --basic-light-brown: #604E43;
  --basic-dark-brown: #503E33;

  --basic-white: #FFFFFF;
  --basic-light-white: rgba(255, 255, 255, 0.3);
  --basic-dark-white: rgba(255, 255, 255, 0.9);

  --basic-blue: #81B3D2;
  --basic-light-blue: #669EC0;
  --basic-dark-blue: #5496BD;

  --background-map: #E9E5DC;
}

/* Global */
.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--basic-light-gray);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Container */
.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-dark-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

/* Grid */
.page {
  height: 100%;
}

/* Header */
.main-navigation {
  position: relative;
  line-height: 26px;
  font-weight: 700;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 138px;
  height: 700px;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 15px 72px;
  text-align: left;
  display: flex;
}
.site-navigation li {
  flex-basis: 230px;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  margin-right: 0;
  text-align: right;
}

.site-navigation a {
  color: var(--basic-black);
  text-decoration: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-light-black);
}

.site-navigation .navigation-active-link,
.site-navigation .navigation-active-link:hover,
.site-navigation .navigation-active-link:active {
  color: var(--basic-brown);
}

/* Welcome */
.welcome-header {
  padding: 80px;
  margin-bottom: 42px;
  background-color: var(--basic-light-blue);
/*  background-image: url("../img/photo/background.jpg");*/
  background: url("../img/icon/mask_backround_photo.svg"), url("../img/photo/background.jpg");
  background-repeat: no-repeat;
  background-position: bottom -1px center, top center;
  background-size: 100% auto, cover;
}

.welcome-header img {
  width: 456px;
  height: 350px;
}

.welcone-content {
  line-height: 26px;
  margin-bottom: 51px;
}

.welcome-content-title {
  font-size: 21px;
  font-weight: 700;
}

.welcome-content-text {
  color: var(--basic-extra-black);
}

/* Features */
.features-list {
  list-style: none;
  margin: 0;
  padding: 0;

  /*
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto 1fr auto;
*/

  display: flex;
  flex-wrap: wrap;
}

.feature-item-first {
  grid-column: 1/-1;
}

.feature-item-first-row {
  display: grid;
  grid-template-columns: 1fr 800px;
}

.feature-item-second {
  grid-column: 1/-1;
}

.feature-item-second-row {
  display: grid;
  grid-template-columns: 800px 1fr;
}

.feature-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature-item-second-row .feature-img {
  order: -1;
}

.sub-features-list {
  list-style: none;
  margin: 0;
  padding: 60px 0;

/*
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
*/

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.sub-feature-item {
  position: relative;
  padding: 100px 50px 30px;
  flex-basis: 250px;
  flex-grow: 1;
}

.sub-feature-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 77px;
  height: 77px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.sub-feature-item-house::before {
  background-image: url("../img/icon/house.svg");
}

.sub-feature-item-food::before {
  background-image: url("../img/icon/food.svg");
}

.sub-feature-item-souvenirs::before {
  background-image: url("../img/icon/souvenirs.svg");
}

.sub-feature-item .feature-title {
/*  padding-top: 100px;*/
}

.feature-item-other {
  padding: 47px 50px 50px;

  flex-basis: 250px;
  flex-grow: 1;
}

.feature-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 21px;
  font-weight: 700;
}

.feature-number {
  margin: 0;
  margin-bottom: 25px;
  color: var(--basic-extra-black);
}

.feature-text {
  margin: 0;
  margin-bottom: 25px;
  color: var(--basic-extra-black);
}

.feature-text:last-child {
  margin-bottom: 0;
  color: var(--basic-extra-black);
}

.feature-item-accent {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.feature-item-accent-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.feature-item-accent .feature-number,
.feature-item-accent .feature-text {
  color: var(--basic-white);
}

.feature-item-other {
  background-color: var(--basic-gray);
}

/* Booking */
.booking {
  padding: 68px 73px 0;
}

.booking-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}

.booking-text {
  margin: 0;
  margin-bottom: 50px;
  line-height: 24px;
  color: var(--basic-extra-black);
}

/* Button */

.button {
  font: inherit;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-white);
  text-align: center;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.booking-button {
  display: block;
  width: 568px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 30px ;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-brown);
}

.booking-button:hover,
.booking-button:focus {
  background-color: var(--basic-light-brown);
}

.booking-button:active {
  background-color: var(--basic-dark-brown);
  color: var(--basic-light-white);
}

/* Map */
.map {
  background-color: var(--background-map);
}

.map img {
  display: block;
  width: 1200px;
  height: 595px;
}

/* Filters */
.filters {
  padding: 26px 72px 32px;
  color: var(--basic-white);
  text-align: left;
  background-color: var(--basic-light-blue);
  background-image: url("../img/photo/background_catalog.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  /* Временно добавил размер фона, чтобы глазам больно не было + если будет время, то фон сделает с тем же фоно, что и на главной, просто добавив фильтр размытия */
}

.filter {
  /*
  display: grid;
  grid-template-columns: auto auto 1fr;
*/

  display: flex;
}

.filter-checkbox-column {
  /*  justify-self: start;*/

  margin: 0;
  margin-right: 45px;
  padding: 0;
  border: none;
  flex-basis: 220px;
}


.filter-checkbox {
  margin-bottom: 25px;
}

.filter-checkbox:last-child {
  margin-bottom: 0;
}


.filter-price {
  /*  justify-self: end;*/

  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.filter-price fieldset {
  margin: 0;
  padding: 0;
}

.filter-price-wrapper {
  display: flex;
  flex-direction: column;
}

.filter legend {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
}

.filter-price-wrapper legend {
  margin-bottom: 10px;
  flex-basis: 21px;
}

.filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-output {
  text-align: center;
  border: 2px solid var(--basic-white);
  margin-bottom: 10px;
  padding: 7px;

  flex-basis: 36px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filter-output p {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  justify-content: space-around;
  flex-basis: 50%;
}

.filter-slider {
  margin: 0;
  padding: 0;
  flex-basis: 21px;
}

.filter-button {
  margin-top: auto;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  border: 2px solid var(--basic-white);
  background-color: transparent;
  flex-basis: 36px;
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* Catalog */
.catalog-sort {
  padding: 30px 72px;
  font-size: 12px;
  line-height: 18px;
  text-align: left;

  display: flex;

  /*
  display: grid;
  grid-template-columns: 172px 1fr;
*/
}

.catalog-sort-result {
  margin: 0;
  margin-right: 37px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  flex-basis: 135px;
}

.catalog-sort a {
  color: var(--basic-light-black);
  border-bottom: 1px dashed var(--basic-blue);
  text-decoration: none;
  cursor: pointer;
}

.catalog-sort a:hover,
.catalog-sort a:focus {
  color: var(--basic-blue);
}

.catalog-sort a:active {
  color: var(--basic-black);
  border-bottom: none;
}

.catalog-sort .catalog-sort-active,
.catalog-sort .catalog-sort-active:hover,
.catalog-sort .catalog-sort-active:active {
  color: var(--basic-blue);
  border-bottom: none;
}

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-item {
  margin: 0;
  padding: 30px 72px;
  text-align: left;
  border-top: 1px solid var(--basic-extra-gray);

  display: grid;
  grid-template-columns: 172px auto auto 1fr;
  grid-template-rows: 1fr 1fr 27px;
}

.catalog-list:last-child {
  border-bottom: 1px solid var(--basic-extra-gray);
}

.catalog-item-title {
  margin: 0;
  margin-bottom: 7px;
  padding: 0;
  color: var(--basic-black);
  text-decoration: none;

  grid-column: 2/-1;
  grid-row: 1/2;
}

.catalog-item p {
  margin: 0;
  padding: 0;
}

.catalog-item-thumbnail {
  width: 135px;
  height: 90px;
  margin-right: 37px;
  grid-column: 1/2;
  grid-row: 1/4;
}

.catalog-item-type {
  grid-column: 2/3;
  grid-row: 2/3;

}

.catalog-item-price {
  grid-column: 3/4;
  grid-row: 2/3;
}

.catalog-item-links {
  grid-column: 2/4;
  grid-row: 3/4;
}

.catalog-item-title h3 {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-item-title:hover,
.catalog-item-title:focus {
  color: var(--basic-blue);
}

.catalog-item-title:active {
  color: var(--basic-light-black);
}

.catalog-item .catalog-item-rating {
  margin: 0;
  padding: 3px 12px 3px 15px;
  color: var(--basic-extra-dark-gray);
  background-color: var(--basic-light-gray);

  grid-column: -2;
  grid-row: 3;
  justify-self: end;
}

.catalog-item-link {
  background-color: var(--basic-blue);
}

.catalog-item-link:hover,
.catalog-item-link:focus {
  background-color: var(--basic-light-blue);
}

.catalog-item-link:active {
  background-color: var(--basic-dark-blue);
  color: var(--basic-light-white);
}

.catalog-item-link {
  background-color: var(--basic-blue);
}

.catalog-item-link:hover,
.catalog-item-link:focus {
  background-color: var(--basic-light-blue);
}

.catalog-item-link:active {
  background-color: var(--basic-dark-blue);
  color: var(--basic-light-white);
}

.catalog-item-button {
  background-color: var(--basic-brown);
}

.catalog-item-button:hover,
.catalog-item-button:focus {
  background-color: var(--basic-light-brown);
}

.catalog-item-button:active {
  background-color: var(--basic-dark-brown);
  color: var(--basic-light-white);
}

/* Footer */

.main-footer-wrapper {
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 100%;

  padding: 36px 70px;
  box-sizing: border-box;

  background-color: var(--basic-dark-white);
  /*
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
*/

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index-footer-wrapper {
  position: relative;
}

/* Contacts */
.footer-contacts {
  margin: 0;
  width: 320px;
  /*  justify-self: center;*/
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-contacts h2 {
  margin: 0;
  margin-bottom: 9px;
}

.footer-contacts p {
  margin: 0;
  margin-bottom: 10px;
}

.footer-contacts p:last-of-type {
  margin-bottom: 0;
}

.contacts-phone {
  color: var(--basic-black);
  text-decoration: none;
}

/* Socials */
.footer-social {
  max-width: 151px;
  /*  justify-self: center;*/
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-list li {
  margin-right: 6px;
  margin-bottom: 6px;
}

.social-list li:nth-child(3),
.social-list li:last-child {
  margin-right: 0;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-light-blue);
}

.social-button:hover path,
.social-button:focus path {
}

.social-button:active {
  color: var(--basic-light-white);
  background-color: var(--basic-dark-blue);
}

.social-button:active path{
   opacity: 0.3;
}

/* Copyright */
.footer-copyright {
  max-height: 220px;
  margin-right: 68px;
  line-height: 26px;
  /*  justify-self: center;*/

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright svg {
  width: 115px;
  height: 41px;
}

.copyright-button {
  margin-left: 8px;
}

.copyright-button:hover path,
.copyright-button:focus path {
  fill: #81B3D2;
}

.copyright-button:active path {
  fill: #BDBBBC;
}
