:root {
  --background-map: #e9e5dc;
  --basic-black: #000000;
  --basic-blue: #81b3d2;
  --basic-brown: #766357;
  --basic-dark-blue: #5496bd;
  --basic-dark-brown: #503e33;
  --basic-dark-gray: #a9a9a9;
  --basic-dark-white: rgba(255, 255, 255, 0.9);
  --basic-extra-black: #333333;
  --basic-extra-blue: #527a92;
  --basic-extra-brown: #ababab;
  --basic-extra-dark-gray: #666666;
  --basic-extra-gray: #e5e5e5;
  --basic-extra-light-gray: #bdbbbc;
  --basic-gray: #eeeeee;
  --basic-light-black: rgba(0, 0, 0, 0.3);
  --basic-light-blue: #669ec0;
  --basic-light-brown: #604e43;
  --basic-light-extra-black: rgba(0, 0, 0, 0.6);
  --basic-light-gray: #f2f2f2;
  --basic-light-gray-hover: #ebebeb;
  --basic-light-white: rgba(255, 255, 255, 0.3);
  --basic-white: #ffffff;
}

.page-body {
  min-width: 1200px;
  min-height: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);

  background-color: var(--basic-light-gray);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.container {
  position: relative;
  z-index: 50;

  display: -ms-grid;

  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
  align-content: start;
  width: 1200px;
  min-height: 100vh;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;

  background-color: var(--basic-dark-white);
  -webkit-box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.page {
  height: 100%;
}

.main-navigation {
  position: relative;

  font-weight: 700;
  line-height: 26px;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

  width: 138px;
  height: 70px;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 15px;
  padding-right: 72px;
  padding-bottom: 15px;
  padding-left: 72px;

  list-style: none;
  text-align: left;
}

.site-navigation li {
  -ms-flex-preferred-size: 228px;
  flex-basis: 228px;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
}

.site-navigation-right {
  margin-right: 0;

  text-align: right;
}

.site-navigation a {
  text-decoration: none;
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-light-black);
}

.site-navigation .navigation-active-link,
.site-navigation .navigation-active-link:hover,
.site-navigation .navigation-active-link:active {
  color: var(--basic-brown);
}

.welcome-header {
  margin-bottom: 42px;
  padding-top: 77px;
  padding-right: 77px;
  padding-bottom: 77px;
  padding-left: 77px;

  background-color: var(--basic-light-blue);
  background-image: url("../img/icon/mask_backround_photo.svg"), url("../img/photo/background.jpg");
  background-repeat: no-repeat;
  background-position: bottom -1px center, top center;
  background-size: 100% auto, cover;
}

.welcome-header img {
  width: 456px;
  height: 350px;
}

.welcone-content {
  margin-bottom: 51px;

  line-height: 26px;
}

.welcome-content-title {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 42px;
  margin-left: 0;

  font-weight: 700;
  font-size: 21px;
}

.welcome-content-text {
  color: var(--basic-extra-black);
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.feature-item-first {
  grid-column: 1/-1;
}

.feature-item-first-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 800px;
  grid-template-columns: 1fr 800px;
}

.feature-item-second {
  grid-column: 1/-1;
}

.feature-item-second-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 800px 1fr;
  grid-template-columns: 800px 1fr;
}

.feature-img {
  width: 800px;
  height: 256px;

  -o-object-fit: cover;
  object-fit: cover;
}

.feature-item-second-row .feature-img {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.sub-features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 55px;
  padding-right: 0;
  padding-bottom: 55px;
  padding-left: 0;

  list-style: none;
}

.sub-feature-item {
  position: relative;

  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 250px;
  flex-basis: 250px;
  padding-top: 105px;
  padding-right: 50px;
  padding-bottom: 28px;
  padding-left: 50px;
}

.sub-feature-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

  width: 77px;
  height: 77px;

  background-repeat: no-repeat;
  background-position: center bottom;
}

.sub-feature-item-house::before {
  background-image: url("../img/icon/house.svg");
}

.sub-feature-item-food::before {
  background-image: url("../img/icon/food.svg");
}

.sub-feature-item-souvenirs::before {
  background-image: url("../img/icon/souvenirs.svg");
}

.feature-item-other {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 250px;
  flex-basis: 250px;
  padding-top: 47px;
  padding-right: 50px;
  padding-bottom: 55px;
  padding-left: 50px;
}

.feature-title {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 25px;
  margin-left: 0;

  font-weight: 700;
  font-size: 21px;
}

.feature-number {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 25px;
  margin-left: 0;

  color: var(--basic-extra-black);
}

.feature-text {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;

  color: var(--basic-extra-black);
}

.feature-text:last-child {
  margin-bottom: 0;

  color: var(--basic-extra-black);
}

.feature-item-accent {
  color: var(--basic-white);

  background-color: var(--basic-blue);
}

.feature-item-accent-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
}

.feature-item-accent .feature-number,
.feature-item-accent .feature-text {
  color: var(--basic-white);
}

.feature-item-other {
  background-color: var(--basic-gray);
}

.booking {
  position: relative;

  padding-top: 55px;
  padding-right: 73px;
  padding-bottom: 0;
  padding-left: 73px;

  text-align: center;

  background-color: var(--basic-white);
}

.booking-title {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 35px;
  margin-left: -8px;

  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
}

.booking-text {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;

  line-height: 24px;
  color: var(--basic-extra-black);
}

.button {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-white);

  border: none;

  cursor: pointer;
}

.booking-button {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 568px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 30px;
  padding-right: 55px;
  padding-bottom: 30px;
  padding-left: 55px;

  font-size: 21px;
  line-height: 26px;

  background-color: var(--basic-brown);
}

.booking-button:hover,
.booking-button:focus {
  background-color: var(--basic-light-brown);
}

.booking-button:active {
  color: var(--basic-light-white);

  background-color: var(--basic-dark-brown);
}

.booking-form-wrapper {
  position: absolute;
  left: 50%;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 568px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 55px;
  padding-right: 55px;
  padding-bottom: 55px;
  padding-left: 55px;

  font-size: 21px;
  line-height: 26px;

  background-color: var(--basic-white);
  -webkit-box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.booking-form-show {
  z-index: 10;

  display: block;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  -webkit-animation: form-down 0.6s;
  animation: form-down 0.6s;
}

.booking-form-hide {
  z-index: -10;
  bottom: 0;
  -webkit-transform: translate(-50%, -5%);
  -ms-transform: translate(-50%, -5%);
  transform: translate(-50%, -5%);
  -webkit-animation: form-up 0.6s;
  animation: form-up 0.6s;
}

.booking-form-error {
  -webkit-animation: form-error 0.6s;
  animation: form-error 0.6s;
}

.booking-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
}

.booking-form-date {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 38px;
  flex-basis: 38px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 29px;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.booking-form-date label {
  width: 100px;
  margin-right: 12px;

  cursor: pointer;
}

.booking-form-date input {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: auto;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 6px;
  padding-right: 45px;
  padding-bottom: 6px;
  padding-left: 15px;

  font: inherit;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);

  background-color: var(--basic-light-gray);
  border: none;
}

.booking-form-date input:hover {
  background-color: var(--basic-light-gray-hover);
}

.booking-form-date input:focus {
  background-color: var(--basic-white);
  outline: 2px solid #e5e5e5;
}

.booking-form input::-webkit-input-placeholder {
  color: var(--basic-black);
}

.booking-form input::-moz-placeholder {
  color: var(--basic-black);
}

.booking-form input:-ms-input-placeholder {
  color: var(--basic-black);
}

.booking-form input::-ms-input-placeholder {
  color: var(--basic-black);
}

.booking-form input::placeholder {
  color: var(--basic-black);
}

.arrival-date-calendar {
  position: absolute;
  top: 7px;
  right: 8px;

  width: 21px;
  height: 23px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.arrival-date-calendar:hover path,
.arrival-date-calendar:focus path {
  fill: var(--basic-black);
}

.arrival-date-calendar:active path {
  fill: var(--basic-blue);
}

.booking-form-visitors-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}

.booking-form-visitors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 29px;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.number-of-adult {
  width: 100px;
  margin-right: 12px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  background-color: transparent;

  cursor: pointer;
}

.number-of-children {
  width: 50px;
  margin-right: 12px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  background-color: transparent;

  cursor: pointer;
}

.number-wrapper {
  position: relative;
}

.booking-form-visitors input {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 114px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 6px;
  padding-right: 35px;
  padding-bottom: 6px;
  padding-left: 35px;

  font: inherit;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);

  background-color: var(--basic-light-gray);
  border: none;
}

.booking-form-visitors input:hover {
  background-color: var(--basic-light-gray-hover);
}

.booking-form-visitors input:focus {
  background-color: var(--basic-white);
  outline: 2px solid #e5e5e5;
}

.number-button {
  position: absolute;
  top: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 38px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.number-button-min {
  left: 0;
}

.number-button-min svg {
  width: 12px;
  height: 3px;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.number-button-max {
  right: 0;
}

.number-button-max svg {
  width: 11px;
  height: 11px;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.number-button:hover rect,
.number-button:hover path,
.number-button:focus rect,
.number-button:focus path {
  fill: var(--basic-black);
}

.number-button:active rect,
.number-button:active path {
  fill: var(--basic-blue);
}

.booking-form-button {
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;

  font-size: 21px;
  line-height: 26px;

  background-color: var(--basic-blue);
}

.booking-form-button:hover,
.booking-form-button:focus {
  background-color: var(--basic-light-blue);
}

.booking-form-button:active {
  color: var(--basic-light-white);

  background-color: var(--basic-dark-blue);
}

.map {
  position: relative;
  z-index: -20;

  background-color: var(--background-map);
}

.map-index {
  z-index: 10;
  -webkit-animation: map-index 0.6s;
  animation: map-index 0.6s;
}

.map iframe {
  border: none;
}

.filters {
  padding-top: 26px;
  padding-right: 72px;
  padding-bottom: 32px;
  padding-left: 72px;

  text-align: left;
  color: var(--basic-white);

  background-color: var(--basic-light-blue);
  background-image: url("../img/photo/background_catalog.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-checkbox-column {
  -ms-flex-preferred-size: 220px;
  flex-basis: 220px;
  margin-top: 0;
  margin-right: 35px;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  border: none;
}

.filter-checkbox {
  margin-bottom: 25px;
  padding-left: 40px;
}

.filter-checkbox label {
  position: relative;

  display: block;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter-checkbox:last-child {
  margin-bottom: 0;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;

  width: 27px;
  height: 23px;

  background-image: url("../img/icon/checkbox_off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:focus + label::before {
  outline: auto;
  outline-offset: 4px;
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../img/icon/checkbox_on.svg");
}

.filter-input-checkbox:disabled + label::before {
  opacity: 0.5;
}

.filter-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 316px;
  flex-basis: 316px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: auto;
}

.filter-price fieldset {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  border: none;
}

.filter-price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.filter legend {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 25px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  font-weight: 700;
  font-size: 16px;
}

.filter-price legend {
  -ms-flex-preferred-size: 21px;
  flex-basis: 21px;
  margin-bottom: 10px;
}

.filter ul {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.filter-price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 32px;
  flex-basis: 32px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;

  text-align: center;

  border: 2px solid var(--basic-white);
}

.filter-price-controls label {
  position: relative;

  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 40px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  text-align: center;
}

.filter-price-controls .min-price {
  padding-left: 15px;
}

.filter-price-controls input {
  width: 70px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  color: var(--basic-white);

  background-color: transparent;
  border: none;
}

.filter-range-controls {
  position: relative;

  height: 12px;
  margin-bottom: 20px;
  padding-top: 11px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.min-price::before {
  content: "";
  position: absolute;
  right: 0;

  width: 2px;
  height: 100%;

  background-color: var(--basic-white);
}

.filter-range-controls .scale {
  height: 2px;

  background-color: var(--basic-light-white);
}

.filter-range-controls .bar {
  width: 82%;
  height: 2px;

  background-color: var(--basic-white);
}

.filter-range-controls .toggle {
  position: absolute;
  bottom: 0;

  width: 4px;
  height: 4px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  background-color: var(--basic-extra-brown);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 0 0 var(--basic-extra-brown);
  box-shadow: 0 2px 0 0 var(--basic-extra-brown);

  cursor: pointer;
}

.filter-range-controls .toggle:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.filter-range-controls .toggle-min {
  left: 0;
}

.filter-range-controls .toggle-max {
  left: 250px;
}

.filter-button {
  -ms-flex-preferred-size: 36px;
  flex-basis: 36px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 137px;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: 84px;
  padding-top: 6px;
  padding-right: 35px;
  padding-bottom: 6px;
  padding-left: 35px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);

  background-color: transparent;
  border: 2px solid var(--basic-white);
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  color: var(--basic-black);

  background-color: var(--basic-white);
}

.catalog-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 30px;
  padding-right: 72px;
  padding-bottom: 28px;
  padding-left: 72px;

  font-size: 12px;
  line-height: 18px;
  text-align: left;
}

.catalog-sort-result {
  -ms-flex-preferred-size: 135px;
  flex-basis: 135px;
  margin-top: 0;
  margin-right: 30px;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.catalog-sort-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  margin-bottom: 5px;
}

.catalog-sort-filter p {
  -ms-flex-preferred-size: 75px;
  flex-basis: 75px;
  margin-top: 0;
  margin-right: 40px;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.catalog-sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 650px;
  flex-basis: 650px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.catalog-sort-list li {
  margin-right: 33px;
}

.catalog-sort-list li:last-child {
  margin-right: 0;
}

.catalog-sort-item a {
  padding-bottom: 2px;

  text-decoration: none;
  color: var(--basic-light-extra-black);

  border-bottom: 1px dashed var(--basic-extra-blue);

  cursor: pointer;
}

.catalog-sort-item a:hover,
.catalog-sort-item a:focus {
  color: var(--basic-extra-blue);
}

.catalog-sort-item a:active {
  color: var(--basic-black);

  border-bottom: none;
}

.catalog-sort-item .catalog-sort-active,
.catalog-sort-item .catalog-sort-active:hover,
.catalog-sort-item .catalog-sort-active:active {
  color: var(--basic-extra-blue);

  border-bottom: none;
}

.catalog-sort-list-dir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 110px;
  flex-basis: 110px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-top: 5px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.catalog-sort-item-dir {
  -ms-flex-preferred-size: 11px;
  flex-basis: 11px;
}

.catalog-sort-item-dir:first-child {
  margin-right: 12px;
}

.catalog-sort-item-dir a {
  cursor: pointer;
}

.catalog-sort-link:hover path,
.catalog-sort-link:focus path {
  fill: var(--basic-black);
}

.catalog-sort-link:active path {
  fill: var(--basic-blue);
}

.catalog-sort-link-active path,
.catalog-sort-link-active:hover path,
.catalog-sort-link-active:focus path,
.catalog-sort-link-active:active path {
  fill: var(--basic-blue);
}

.catalog-list {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.catalog-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 164px 1fr 110px;
  grid-template-columns: 164px 1fr 110px;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 29px;
  padding-right: 72px;
  padding-bottom: 29px;
  padding-left: 72px;

  text-align: left;

  border-top: 1px solid var(--basic-extra-gray);
}

.catalog-item > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.catalog-item > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.catalog-item > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.catalog-item > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.catalog-item > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.catalog-item > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.catalog-item > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.catalog-item > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.catalog-item > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.catalog-list:last-child {
  border-bottom: 1px solid var(--basic-extra-gray);
}

.catalog-item-title {
  grid-column: 2/-2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin-top: -5px;
  margin-right: 15px;
  margin-bottom: 7px;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  text-decoration: none;
  color: var(--basic-black);
}

.catalog-item p {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.catalog-item-thumbnail {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  width: 135px;
  height: 90px;
  margin-top: 2px;
  margin-right: 25px;

  -o-object-fit: cover;

  object-fit: cover;
}

.catalog-item-description {
  grid-column: 2/-2;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.catalog-item-description p {
  min-width: 110px;
  margin-right: 6px;
}

.catalog-item-links {
  grid-column: 2/-2;
  -ms-grid-row: 3;
  grid-row: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.catalog-item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.catalog-item-title h3 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.catalog-item-title:hover,
.catalog-item-title:focus {
  color: var(--basic-blue);
}

.catalog-item-title:active {
  color: var(--basic-light-black);
}

.catalog-item .catalog-item-rating {
  grid-column: -2;
  -ms-grid-row: 3;
  grid-row: 3;
  align-self: flex-end;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 110px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 3px;
  padding-right: 12px;
  padding-bottom: 3px;
  padding-left: 15px;

  color: var(--basic-extra-dark-gray);

  background-color: var(--basic-light-gray);
}

.catalog-item-stars-list {
  grid-column: -2;
  -ms-grid-row: 1;
  grid-row: 1;
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.item-star-invisible {
  display: none;
}

.catalog-item-star {
  width: 19px;
  height: 17px;
  margin-left: 4px;

  background-image: url("../img/icon/star.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.catalog-item-star:first-child {
  margin-left: 0;
}

.catalog-item-link {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 110px;
  margin-right: 6px;
  padding-top: 3px;
  padding-right: 17px;
  padding-bottom: 3px;
  padding-left: 17px;

  line-height: 21px;
  vertical-align: middle;

  background-color: var(--basic-blue);
}

.catalog-item-link:hover,
.catalog-item-link:focus {
  background-color: var(--basic-light-blue);
}

.catalog-item-link:active {
  color: var(--basic-light-white);

  background-color: var(--basic-dark-blue);
}

.catalog-item-link {
  background-color: var(--basic-blue);
}

.catalog-item-link:hover,
.catalog-item-link:focus {
  background-color: var(--basic-light-blue);
}

.catalog-item-link:active {
  color: var(--basic-light-white);

  background-color: var(--basic-dark-blue);
}

.catalog-item-button {
  min-width: 142px;
  margin-right: 6px;
  padding-top: 3px;
  padding-right: 17px;
  padding-bottom: 3px;
  padding-left: 17px;

  line-height: 21px;

  background-color: var(--basic-brown);
}

.catalog-item-button:hover,
.catalog-item-button:focus {
  background-color: var(--basic-light-brown);
}

.catalog-item-button:active {
  color: var(--basic-light-white);

  background-color: var(--basic-dark-brown);
}

.main-footer-wrapper {
  position: absolute;
  bottom: 0;
  z-index: 10;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;

  background-color: var(--basic-dark-white);
}

.inner-footer-wrapper {
  position: relative;
}

.footer-section {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 364px;
}

.footer-contacts {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.footer-contacts h2 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 9px;
  margin-left: 0;
}

.footer-contacts p {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}

.footer-contacts p:last-of-type {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.contacts-phone {
  color: var(--basic-black);
  text-decoration: none;
}

.footer-social {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.social-list li {
  margin-right: 6px;
  margin-bottom: 6px;
}

.social-list li:nth-child(3),
.social-list li:last-child {
  margin-right: 0;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 46px;
  height: 48px;

  background-color: var(--basic-blue);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-light-blue);
}

.social-button:active {
  color: var(--basic-light-white);

  background-color: var(--basic-dark-blue);
}

.social-button:active svg {
  opacity: 0.3;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  line-height: 26px;
}

.footer-copyright svg {
  width: 115px;
  height: 41px;
}

.copyright-button {
  margin-left: 8px;
}

.copyright-button:hover path,
.copyright-button:focus path {
  fill: var(--basic-blue);
}

.copyright-button:active path {
  fill: var(--basic-extra-light-gray);
}

@-webkit-keyframes form-down {
  0% {
    z-index: -10;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
  }

  99% {
    z-index: -10;
  }

  100% {
    z-index: 10;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

@keyframes form-down {
  0% {
    z-index: -10;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
  }

  99% {
    z-index: -10;
  }

  100% {
    z-index: 10;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

@-webkit-keyframes form-up {
  0% {
    -webkit-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
  }

  100% {
    -webkit-transform: translate(-50%, -5%);
    transform: translate(-50%, -5%);
  }
}

@keyframes form-up {
  0% {
    -webkit-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
  }

  100% {
    -webkit-transform: translate(-50%, -5%);
    transform: translate(-50%, -5%);
  }
}

@-webkit-keyframes form-error {

  0%,
  100% {
    -webkit-transform: translateX(-55%);
    transform: translateX(-55%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-45%);
    transform: translateX(-45%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-55%);
    transform: translateX(-55%);
  }
}

@keyframes form-error {

  0%,
  100% {
    -webkit-transform: translateX(-55%);
    transform: translateX(-55%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-45%);
    transform: translateX(-45%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-55%);
    transform: translateX(-55%);
  }
}

@-webkit-keyframes map-index {
  0% {
    z-index: -20;
  }

  59% {
    z-index: -20;
  }

  100% {
    z-index: 10;
  }
}

@keyframes map-index {
  0% {
    z-index: -20;
  }

  59% {
    z-index: -20;
  }

  100% {
    z-index: 10;
  }
}
